SUPABASE_URL=https://daajwmvjjfumulhmxmrl.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=REPLACE_WITH_SERVICE_ROLE_KEY
SUPABASE_DB_URL=REPLACE_WITH_SUPABASE_DB_URL
SUPABASE_STORAGE_BUCKET=vault
